
.header-logo {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 999;
}

.logo-img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f8fc;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 83, 160, 0.1);
}

h2 {
  text-align: center;
  color: #0053a0;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: white;
}

.input-container i {
  margin-right: 10px;
  color: #424341;
  font-size: 1.1em;
}

.input-container input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 1em;
}

/* Gender */
.gender-options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.gender-options label {
  font-weight: normal;
  font-size: 0.95em;
}


select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #0053a0;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1em;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #003f7f;
}

.login-link {
  text-align: center;
  font-size: 0.95em;
  margin-top: 10px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: white;
  background-color: #0053a0;
  padding: 15px;
  border-radius: 8px;
  font-size: 0.9em;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}